/*
#contact-form input,
#contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
}

#validation-message {
  color: red;
  margin-bottom: 10px;
}

#success-message {
  color: green;
  margin-top: 10px;
}
*/

body{
    width: 1vr;
    height: 1000px;
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-template-rows: 15% 80% 15%;
    grid-template-areas: "header header  header header header header header header header header"
                         "sec sec sec sec sec sec sec sec sec sec"
                          "foot foot foot foot foot foot foot foot foot foot";
    gap: 2px 5px ;
  }

  header{
    grid-area: header;
    background-color: #0d2b46;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: 50% 50%;
    grid-template-areas: "log" "nav";
   
    padding: 10px;
    
                          
  }

  .logo{
    grid-area: log;
    background-color: #4d7b9c;
    border: 5px #8da9be solid;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .logo img{
     
      height: 50px;
    }
    header nav {
    grid-area: nav;
    }
    header nav ul{
      list-style-type: none;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;
      padding: 15px;
      display: flex;
      font-size: 20px;
    }
    nav li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-right: 10px;
     
      
    }
    .navigation li a {
      text-decoration: none;
      color: lightyellow;
    }

section{
        grid-area: sec;
        display: grid;
        grid-template-columns: repeat(5,20%);
        grid-template-areas: "from from from  asi asi";
        background-color: #cce0ee;
        color: white;
        padding: 10px;
        border: #8da9be 5px solid;
        
} 

section fieldset{
  grid-area: from;
  background-color: #4d7b9c;
}
 section div{
    
    margin: 10px;
    padding: 5px;
}

div label {
    margin: 10px;
   
}


input{
   width: 400px; 
   position: absolute;
   left: 15%;
   background-color: #cce0ee;
   border-radius: 5px 10px;


   
}




.age{
    width: 5%; 
}

div select{
    width: 10%;
    border:  2px black solid;
    position: absolute;
    left: 15%;
}
textarea{
    width: 80%;
    height: 100px;
    border:  2px black solid;
}

aside{
  grid-area: asi;
  background-color: #4d7b9c;
  margin-left: 10px;
  padding: 10px;
}
aside h1{
  color: snow;
}

aside p{
  color: cornsilk;
  font-size: 20px;
}
footer{
  grid-area: foot;
  background-color:#0d2b46;
  color: white;
  padding: 10px;
}