


.parent1 , .parent2 , .parent3 , .parent4{
    width: 400px;
    background-color: aliceblue;
    height: 200px;
    background-color: white;
    border: 4px greenyellow solid;
    margin: 10px;
    padding: 10px;
    position: static;
}

.son1 , .child1 , .boy1 , .girl1 {
    width: 100px;
    background-color: #3f51b5;
    height:75px;
    margin-bottom: 10px;
}

.son2 , .child2 , .boy2  {
    background-color: #ff9800;
    width: 100px;
    height: 75px;
}

.parent2{
 position: relative;
}
.parent3{
 position: relative;
}
.parent4{ 
    position: relative;
}

.child2{
    position: relative;
    left: 150px;
}

.boy1{
    position: absolute;
    bottom: 0;
    left: 85px;
    z-index: 1;
}

.boy2{
    position: absolute;
    bottom: 20%;
}

.girl1{
    position: fixed;
    left: 20%;
    bottom: 15%;
}