body{
    background-color: #cce0ee;
}
div{
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: #eee;
    color: red;
    
}

.one{
    border-left:10px #0d2b46 solid;
    
}

.tow{
    border:10px #0d2b46 solid ;
}

.third{
border-right:10px #0d2b46 solid  ;
}
.one p{
    text-transform: lowercase;
    text-indent: 10px;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;


    
}

.tow p {
    text-transform: capitalize;
    text-indent: 20px;
    font-style: italic;
    text-decoration: none ;
    

}

.third{
    text-transform: uppercase;
    text-indent: 30px;
    font-weight: bold;
    color: green;
    
}
p span{
    color: blue;
    text-decoration: overline;
    font-variant:small-caps;
}

.third :link {
    color: green;
   }
.third a:visited {
    
    color: blue;
   }
.third :hover {
    color:yellow ;
    background-color: blueviolet;
    }
.third :active {
    
    color: black;
}


.tow:active{
    color: rebeccapurple;
}



